@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: white;
}

/* Chats Page */

.chats-page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.homescreen {
    overflow: hidden;
}

.container-home-left {
    font-family: 'Poppins', sans-serif;
    width: 50%;
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
}

.container-home-right {
    width: 50%;
    height: calc(100vh - 75px);
    overflow: hidden;
}

.image-home {
    height: calc(100vh);
    overflow: hidden;
}

.nav-bar {
    width: 100vw;
    height: 75px;
    background-color: #002766;
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo-tab {
    position: absolute;
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}

.logout-tab {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: white;
    width: 2rem;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* Login Page */
#login-page {
    height: 100vh;
    overflow: hidden;
}

.container-login-left {
    display: flex;
    align-items: flex-end;
    width: 60%;
    height: 100vh;
    background: #002766;
}

.image-login {
    width: 50vw;
    overflow: hidden;
}

.container-login-right {
    width: 40%;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-page {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
}

#login-card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login-button {
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
}

#loading-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
    font-size: 66px;
    position: relative;
    left: calc(50vw - 33px);
    top: calc(50vh - 22px);
}

@media screen and (max-width: 1200px){
    .container-login-left {
        display: none;
    }

    .container-login-right {
        width: 100vw;
        justify-content: center;
        height: calc(100vh - 75px);
        align-items: center;
    }

    .homescreen {
        overflow: hidden;
    }

    .wrapper-home {
        flex-direction: column;
    }

    .container-home-left {
        height: 50vh;
        width: 100vw;
        text-align: center;
        font-size: 3rem;
    }

    .container-home-right {
        width: 100vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .image-home {
        display: flex;
        height: 50vh;
        align-items: center;
    }
}