@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html {

}

/* Chats Page */

.chats-page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.homescreen {
    overflow: hidden;
}

.container-home-left {
    width: 50%;
}

.container-home-right {
    /*height: calc(100vh - 132px);*/
    width: 50%;
    overflow: hidden;
}

.image-home {
    position: relative;
    width: 60rem;
    transform: rotate(9deg);
    overflow: hidden;
}

.nav-bar {
    width: 100%;
    height: 66px;
    background-color: #002766;
    z-index: 1;
    position: absolute;
}

.logo-tab {
    position: absolute;
    left: 22px;
    top: 12px;
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.logout-tab {
    position: absolute;
    top: 22px;
    right: 22px;
    color: white;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* Login Page */

.container-login-left {
    width: 50%;
    height: calc(100vh - 66px);
    background: #002766;
}

.container-login-right {
    width: 50%;
    height: calc(100vh - 66px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-page {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100vw;
}

#login-card {
    text-align: center;
}

.login-button {
    cursor: pointer;
    padding: 12px;
    border-radius: 8px;
    text-align: center;

}

#loading-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
    font-size: 66px;
    position: relative;
    left: calc(50vw - 33px);
    top: calc(50vh - 22px);
}

@media screen and (max-width: 1200px){
    .container-login-left {
        display: none;
    }

    .container-login-right {
        width: 100vw;
        justify-content: center;
        height: calc(100vh - 66px);
        align-items: center;
    }
}